@media screen and (max-width: 745px) {
  .allSpots {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .spotLink {
    flex: 90%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }
  .spotLink>img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    width: 98%;
    height: 98%;
    margin-left: 2px;

    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .spotLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }


  .spotLink>h4 {
    margin: 2px;
  }
}
@media screen and (min-width: 745px) {
  .allSpots {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .spotLink {
    flex: 40%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }
  .spotLink>img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    width: 98%;
    height: 98%;
    margin-left: 2px;

    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .spotLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }


  .spotLink>h4 {
    margin: 2px;
  }
}

@media screen and (min-width: 950px) {
  .allSpots {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .spotLink {
    flex: 30%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }
  .spotLink>img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    width: 98%;
    height: 98%;
    margin-left: 2px;

    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .spotLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }


  .spotLink>h4 {
    margin: 2px;
  }
}

@media screen and (min-width: 1128px) {
  .allSpots {
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .spotLink {
    flex: 23%;
    display: flex;
    flex-direction: column;
    margin: 7px;
  }

  .spotLink>img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 15px;
    width: 98%;
    height: 98%;
    margin-left: 2px;

    border: 1px solid black
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .spotLink>h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }


  .spotLink>h4 {
    margin: 2px;
  }

}



.spotLink .spotNameCard {
  visibility: hidden;
}

.spotLink:hover .spotNameCard {
  visibility: visible;
}

.rating {
  display: flex;
  align-items: center;
}

.rating>* {
  padding: 1px;
  margin: 2px;
}


