.uspotForm{
    max-height: 100vh;
}
.spotForm > label{
    font-size: medium;
}
.spotLocation{
    border-bottom: solid 1px black;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}
.country{
    width: 100%;

}
.country > input{
    width: 100%;
    
}
.address{
    width: 100%;

}
.address > input{
    width: 100%;
    
}
.city{
    width: 60%;

}
.city > input{
    width: 100%;
    
}

.lat{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.lat > input{
    width: 100%;
    
}
.lng{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.name{
    width:98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

label{
    display: flex;
}
.description{
    display: flex;
    flex-direction: column;
}
.photoLinks{
    display: flex;
    flex-direction: column;
}
.title > label{
    font-size: x-large;
}
.title > h1{
    font-size: small;
}.title > textarea{
    width: 98%;
}