* {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border-bottom: solid grey .5px;
    width: 100%;
    height: 8%;
    position: absolute;
}

.nav>div {
    display: flex;
}

.nav-logo {
    width: 90px;
    height: auto;
    display: flex;
    align-items: center;
}

.menuButton {
    display: flex;
    align-items: center;
}

.create-spot-link {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.menuList {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.menuList {
    margin-top: 55px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}

.firstLiMenu {
    margin-top: -10px;
}

.seperator {
    border-bottom: solid grey .5px;
}
li{
    padding: 1px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logoutButton {
    background: #ff385d;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 25px;
    padding:3px;
    margin-bottom: -5px;
    color: white;
    font-size:small;
}
.manageSpots{
    background: #ff385d;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 25px;
    padding:3px;
    margin-bottom: -5px;
    color: white;
    font-size:small;
}
.menuButton{
    background: #ff385d;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding:3px;
    color: white;
    font-size:small;
}